<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .box{
        margin: 10px 20px;
        font-family: sans-serif;
        font-size: 18px;
      }
    </style>
</head>
<body>

<h1>Report pdf</h1>

<% if (data1) { %>
  <h2><%= data1.data.firstname %></h2>
  <h2><%=data1.data.lastname %></h2>
  <h2><%=data1.data.company %></h2>
  <h2><%=data1.data.email %></h2>
 
<% } %>


<% if (user) { %>
  <h2><%= user.data.firstname %></h2>
  <h2><%= user.data.lastname %></h2>
  <h2><%= user.data.email %></h2>
  <h2><%=user.data.company %></h2>

<% } %>





    
</body>
</html>